@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);

body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    /* padding-left: 1em;
    border-left: 1px solid #ccc; */
    font-family: "Montserrat", sans-serif;
}

main {
    min-height: 20em;
    padding: 0 1rem;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 3em;
    color: #fff;
    text-align: center;
    background-color: rgba(22, 34, 57, .95);
}

nav {
    background-color: #000;
    padding: 2rem 1rem;
}

nav a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 1rem 1rem;
}

nav a.selected,
nav a:hover {
    color: #f5a425;
    border: 1px solid #f5a425;
}

p.btn-wrapper {
    padding: 1rem 0;
}

a.success-link {
    padding: 1rem 0.5rem;
    background-color: #46c37b;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

a.danger-link {
    padding: 1rem 0.5rem;
    background-color: #d26a5c;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

a.info-link {
    padding: 1rem 0.5rem;
    background-color: #5c90d2;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

button.btn-submit {
    background-color: #46c37b;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.text-success {
    color: #46c37b
}

.text-info {
    color: #5c90d2
}

.text-danger {
    color: #d26a5c
}

input.bet-amount {
    width: 180px;
}

.rotate1 {
    animation: rotation 1s linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotate2 {
    animation: rotation 0.8s linear;
}

.rotate3 {
    animation: rotation 0.8s linear;
}

.rotate4 {
    animation: rotation 0.6s linear;
}

.rotate5 {
    animation: rotation 0.4s linear;
}

.rotate6 {
    animation: rotation 0.2s linear;
}
