@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);

html {
    font-family: 'Montserrat', serif;
}

header {
    background-color: rgba(22, 34, 57, .95);
    padding: 15px 15px;
    color: #ffffff;
}
header hub a,
header hub span {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: .5em;
    font-weight: 700;
    font-size: 20px;
}
header hub a:hover,
header hub a:focus {
    color: #f5a425;
    border: 1px solid #f5a425;
}

header hub span {
    padding: 0 5px;
}

.selected {
    color: #f5a425 !important;
}

.container {
    margin-top: 2em;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

footer {
    background-color: #626262;
    padding: 15px 15px;
    color: #ffffff;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
}

label {
    display: block;
    float: left;
    width: 100px;
}
div.row {
    margin: 10px 0px;
}
form {
    margin: 10px 0px;
}