<!doctype html> 
<meta charset="utf-8">
<title > <%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon"  href="/favicon.ico">
<script src="https://use.fontawesome.com/0aee473986.js"></script>
<header>
    <hub>
        <a href="/eshop/index">Index</a><span>|</span>
        <a href="/eshop/category">Category</a><span>|</span>
        <a href="/eshop/product">Product</a>
    </hub>
</header>