<%- include("header", {title: title}); %>

<h1>Welcome to the EShop</h1>

<p>What do you want to do?</p>

<ul> 
    <li><a href="category">View product categories</a></li>
    <li><a href="product">View products</a></li>
</ul>

<%- include("footer"); %>