
<%- include("header", {title: title}); %>

<div class="content">
    <h1>Create new product</h1>

    <p>Create a new product holder.</p>
    <form class="label-left" method="post"> 
        <fieldset> 
            <legend>Create product</legend>
    
            <div class="row">
                <label for="product_id">Id</label> 
                <input id="product_id" type="text" name="product_id" maxlength="10" required>
            </div>
            <div class="row">
                <label for="name">Name</label> 
                <input id="name" type="text" name="name" required>
            </div>
            <div class="row">
                <label for="price">Price</label> 
                <input id="price" type="number" name="price" required>
            </div>
            <div class="row">
                <label for="image_link">Image Link</label> 
                <input id="image_link" type="text" name="image_link">
            </div>
            <div class="row">
                <label for="description">Description</label> 
                <input id="description" type="text" name="description">
            </div>
            <div class="row">
                <input type="submit" name="doit" value="Create">
            </div>
        </fieldset> 
    </form>
</div>

<%- include("footer"); %>