<%- include("header", {title: title}); %>
<div class="container">
    <h1>About Us</h1>

    <p>Namnen på de som jobbat (i gruppen) för att lösa uppgiften:</p>
    
    <ul> 
        <li>Benaris Hajduk</li>
    </ul>
</div>
<%- include("footer"); %>