<%- include("header", {title: title}); %>

<div class="container">
    <h1>Product Categories</h1>

    <p>Here is all categories for products.</p>
    
    <!-- <p><i>To output the content of the account table.</i></p>
    <pre><%= JSON.stringify(res, null, 4) %></pre> -->
    
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Category</th>
            </tr>
        </thead>
        <tbody>
            <% for (const row of res) { %>
                <tr>
                    <td class="text-left"><%= row.category %></td>
                </tr>
            <% } %>
        </tbody>
    </table>  
</div>

<%- include("footer"); %>